* {
    font-family: Raleway;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
  }
 /* banner - estilização */
.banner img {
    width: 248px;
    height: 214px;
  }
     
  .banner-content {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(49, 168, 221, 0) 100%
    );
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('./banner.png');
  }
     
  .banner h1 {
    padding: 50px 0 20px 0px;
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(180deg, #33a8db 0%, #0c5a93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }
  
  
  .banner p {
    margin: 0 30% 24px;
  }
  
   header button {
    color: #31a8dd;
    font-size: 1rem;
    font-weight: 900;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3ba1cd, #1572b7);
    border-image-slice: 10;
    transition: 0.6s;
  }
    
  header button:hover {
    cursor: pointer; 
    transform: scale(0.98);
    background-color: #33a8db; 
    color: #fff; 
  }
   
  header button:focus {
    transform: scale(0.95);
  }
  /* body - estilização */
body {
    background-color: black;
  }
    
  section {
    margin: 100px auto;
  }
   
  #course-content {
    width: 800px;
  }
  
   #course-content p {
    padding: 20px;
  }
    
  h2 {
    color: #33a8db;
    font-size: 2rem;
    letter-spacing: 7px;
    text-transform: uppercase;
    line-height: 2rem;
  }
   /* main - estilização */
  .module {
    border: 1px solid #33a8db;
    border-radius: 57px;
    padding: 16px 127px;
    box-shadow: -2px 6px 4px 0px #00000066 inset;
    width: Fixed (535px) px;
    height: (51px);
    padding: 16px 127px 16px 127px;
    margin: 20px;
    background-color: rgb(40, 39, 39);
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
  }

  .module span {
    color: #33a8db;
  } 
  
  #transform-world {
    background-image: url(./woman-code.png);
    background-size: cover;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-position-y: -220px;
    background-attachment: fixed;
  }

  #transform-world p {
    position: absolute;
    position: left;
    max-width: 250px;
    height: 141px;
    top: 111px;
    left: 198px;
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    text-align: left;
    text-shadow: 9px 6px rgba(52, 169, 220, 0.5);
  }
    
  #professional-challenges p {
    font-size: 16px;
    height: 76px;
    text-align: center;
    margin: 20px 20%;
  }
  
  #professional-challenges h2 {
    margin: 20px;
  }

  /* footer - estilização */

footer {
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(51, 168, 219, 0) 0%,
      rgba(51, 168, 219, 0.2) 99.99%,
      rgba(51, 168, 219, 0.2) 100%
    );
  }
  
  footer img {
    margin: 10px;
  }
  
  footer a {
    color: rgba(52, 169, 220, 0.5);
    text-decoration: none; 
    font-size: 16px;
    font-weight: 900; 
  }

  footer p {
    padding-bottom: 40px;
  }